#ignore all files that are bigger than 100M
#find . -size +100M | cat >> .gitignore


*
!*/
!*.*

.DS_Store
.idea
.idea/*


venv
test

*.pyc
./*/*.pyc
./*/*/*.pyc
./*/*/*/*.pyc
./*/*/*/*/*.pyc
./*/*/*/*/*/*.pyc


logs
./*/logs
./*/*/logs
./*/*/*/logs
./*/*/*/*/logs
./*/*/*/*/*/logs

wandb
./*/wandb
./*/*/wandb
./*/*/*/wandb
./*/*/*/*/wandb
./*/*/*/*/*/wandb


*.h5
*.rar
*.csv
*.dat
*.tar.gz
*.png
*.zip
*.json
*.pkl
*.db
*.cs
*.pt
*.gz
*.log
*.sqlite
*.sql
*.sqlite3


